[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist

extend-ignore =
    # H101: Use TODO(NAME)
    H101,
    # whitespace before ':'
    E203,
    # do not use bare 'except'
    E722


max-line-length = 160